<% if user_signed_in? %>
  <div class="l-header d-flex">
    <div class="l-header__logo">
      <%= link_to user_trades_path do %>
        <%= image_tag "/img/header-icon.png" %> <span style="color: red">Trade</span> <span class="text-success">Note<span>
      <% end %>
    </div>
    <div class="l-header__user-nav">
      <%= image_tag current_user.user_profile.avatar.variant(resize_to_fill: [100, 100],crop: "100x100+0+0").processed %>
      <div class="d-inline-block text-center">
        <%= current_user.user_profile.nickname %>
      </div>
    </div>
  </div>
<% end %>