<div class="mt-5" id="trade">
  <notifications group="information"></notifications>
  <div class="row">
    <%= render "shared/user/left_side_bar" %>
    <div class="col-10 col-lg-7 mb-5 c-trade-form">
      <div class="row">
        <div class="col-12">
          <label>トレードスタイル</label>
          <select v-model="trade.trade_style_id" placeholder="トレードスタイル" class="form-control">
            <option
              v-for="trade_style in trade_styles"
              :key="trade_style.id"
              :label="trade_style.name"
              :value="trade_style.id"
            >
            </option>
          </select>
        </div>
        <div class="col-12">
          <label>カテゴリー</label>
          <select v-model="trade.trade_category_id" placeholder="トレードカテゴリ" class="form-control">
            <option
              v-for="trade_category in trade_categories"
              :key="trade_category.id"
              :label="trade_category.name"
              :value="trade_category.id"
            >
            </option>
          </select>
        </div>
        <div class="col-12">
          <label>エントリー日時</label>
          <input v-model="trade.entry_time" type="date" class="form-control">
        </div>
        <div class="col-12">
          <label>決済日時</label>
          <input v-model="trade.exit_time" type="date" class="form-control">
        </div>
        <div class="col-12">
          <label>Pips</label>
          <input placeholder="pips" v-model="trade.pips" class="form-control">
        </div>
        <div class="col-12">
          <label>結果</label>
          <select placeholder="result" v-model="trade.result" class="form-control">
            <option
              v-for="result in results"
              :key="result"
              :label="result"
              :value="result"
            >
            </option>
          </select>
        </div>
        <div class="col-12">
          <label>画像</label>
          <label for="file_upload">
            <div v-if="changeImage">
              <%= image_tag @trade.image if @trade.image.attached? %>
              <input name="uploadedImage" class="mt-3 d-none" type="file" ref="file" accept="image/*" @change="selectImage" id="file_upload">
            </div>
            <div v-else>
              <img :src="trade_image" class="w-100">
              <input name="uploadedImage" class="mt-3 d-none" type="file" ref="file" accept="image/*" @change="selectImage" id="file_upload">
            </div>
          </label>
        </div>
        <div class="col-12">
           <label>メモ</label>
          <textarea placeholder="エントリーした理由などを記述" v-model="trade.content"></textarea>
        </div>
        <div class="col-12 text-center mt-3">
          <button class="btn c-devise-form__submit-btn" @click="update(trade.id)" enctype="multipart/form-data">
            内容を変更する
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_packs_with_chunks_tag 'user/trade_edit' %>