<div class="mt-5" id="trade">
  <div class="row">
    <%= render "shared/user/left_side_bar" %>
    <div class="col-6 c-trade-form">
      <div class="row">
        <div class="col-12">
          <label>トレードスタイル</label>
          <el-select v-model="trade.trade_style_id" placeholder="トレードスタイル">
            <el-option
              v-for="trade_style in trade_styles"
              :key="trade_style.id"
              :label="trade_style.name"
              :value="trade_style.id"
            >
            </el-option>
          </el-select>
        </div>
        <div class="col-12">
          <label>カテゴリー</label>
          <el-select v-model="trade.trade_category_id" placeholder="トレードカテゴリ">
            <el-option
              v-for="trade_category in trade_categories"
              :key="trade_category.id"
              :label="trade_category.name"
              :value="trade_category.id"
            >
            </el-option>
          </el-select>
        </div>
        <div class="col-12">
          <label>エントリー日時と決済日時</label>
          <el-date-picker v-model="trade.entry_time" type="datetime"
            placeholder="Pick a day"
            format="yyyy/MM/dd HH:mm"
            default-time="00:00:00">
          </el-date-picker>
          ~
          <el-date-picker v-model="trade.exit_time" type="datetime"
            placeholder="Pick a day"
            format="yyyy/MM/dd HH:mm"
            default-time="00:00:00">
          </el-date-picker>
        </div>
        <div class="col-12">
          <label>Pips</label>
          <el-input placeholder="pips" v-model="trade.pips"></el-input>
        </div>
        <div class="col-12">
          <label>結果</label>
          <el-select placeholder="result" v-model="trade.result">
            <el-option
              v-for="result in results"
              :key="result"
              :label="result"
              :value="result"
            >
          </el-select>
        </div>
        <div class="col-12">
          <label>画像</label>
          <input name="uploadedImage" type="file" ref="file" accept="image/*" @change="selectImage">
        </div>
        <div class="col-12 text-center">
          <textarea placeholder="メモ" v-model="trade.content"></textarea>
        </div>
        <div class="col-12 text-center">
          <button class="btn c-devise-form__submit" @click="submit" enctype="multipart/form-data">
            登録する
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'user/trade' %>