<div class="row p-win-rate" id="win_rate">
  <div class="col-12 p-trade mt-4 mt-sm-5">
     <div class="row">
      <%= render "shared/user/left_side_bar" %>
      <%= render "user/win_rates/total_win_rate.html" %>
    </div>
  </div>
</div>

<%= javascript_packs_with_chunks_tag 'user/win_rate' %>