.l-header {
  height: 64px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $wine-red;
  &__logo {
    padding-top: 10px;
    img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
    }
    a {
      color: black;
      &:hover {
        opacity: 0.8;
      }
    }
    span {
      font-size: 27px;
      font-style: oblique;
      vertical-align: middle;
    }
  }
  &__user-nav {
    padding: 10px 0 0 12px;
    width: 200px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
      background-color: #EEEEEE;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }
}